.animate-opacity{
    animation:opac 0.8s
}
@keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}

.purple {
    color: #D500A5;
    text-shadow: 0px 0px 5px;
}

html {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    max-height:100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.content {
    margin: 0;
    padding: 0;
}

.content-pane {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow: scroll;
}

.project-showcase {
    max-width: 256px;
    width: 100vw;
    max-height: 300px;
    height: 100vh;

    border: 2px solid white;
    box-shadow: 0 0 5px white;
    border-radius: 32px;

    text-align: left;

    padding: 24px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
    
    position: relative;
    overflow: hidden;
}

.project-links {
    position: absolute;
    bottom: -50px;
    transition: 0.3s;
}

.project-links a {
    background-color: #171717;
    color: white;
    border: 3px solid #0090c4;
    border-radius: 32px;
    padding: 3px 10px;
    transition: 0.3s;
}

.project-links a:hover {
    background-color: #0090c4;
    color: white;
}

.project-showcase:hover .project-links {
    bottom: 24px;
}

.footer {
    position: fixed;
    bottom: calc(-3.3em);
    right: 10px;
    text-align: right;
    transition: 0.3s;
    color: #444444;
}
.footer:hover {
    bottom: 10px;
}

button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #0090c4;
    text-shadow: -2px 2px #004158;
    font-family: 'Share Tech Mono', monospace;
    font-style: italic;
    font-size: 1.1em;
    text-decoration: underline;
    cursor: pointer;
    float: right;
    margin-right: 3vw;
}

#homepage-header {
    height: 100vh;
    position: relative;
}

#pages {
    height: 100vh;
}

.header-text {
    text-align: left;
    margin-left: 3vw;
    margin-right: 3vw;
    position: absolute;
    bottom: 5vh;
}

.header-buttons {
    height: auto;
}

.about-content {
    text-align: left;
    margin-left: 5vw;
    margin-right: 5vw;
}

.businesscard-text {
    color: #444444;
}

.businesscard-text:hover {
    content: "my business bard.";
}